
body{
	margin:0;
}

.clear{
	clear: both;	
}

header {
	background: url("../img/header_bg.jpg");
	height:750px;
	width:100%;
	max-width:1900px;
	margin:0 auto;
}

header section, main section{
	margin:0 auto;
	max-width: 1170px;
}

header section img{
	float:left;
}

header section nav{
	float:right;
}

header section nav a{
	color:#cbccd3;
	margin:43px 0px 0px 59px;
	display: inline-block;
	float: left;
	text-decoration: none;
	font-size: 13px;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

header section nav a:hover{
	color:#ffffff;
}

header section h1{
	display:inline-block;
	width:100%;
	color:#ffffff;
	font-size:65px;
	line-height:70px;
	margin-top:144px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:0px;
}

header section p{
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	color:white;
	text-align:center;
	margin-top:25px;
	line-height: 33px
}

header section a.button{
	background:#e84545;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color:#ffffff;
	text-transform: uppercase;
	padding: 15px 46px;
	text-decoration: none;
	border-radius: 3px;
	display: block;
	margin:0 auto;
	max-width:200px;
	box-sizing: border-box;
	margin-top:73px;
	text-align:center;
}

header section a.button:hover{
	background:#e83030; 
}

main {
	margin-top: 47px;
}

main section#advantage figure {
	width:33%; 
	float:left;
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	margin-top: 65px;
}

main section#advantage figure h3{
	text-align:center;
	font-size: 14px;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-top:24px;
}

main section#advantage figure img{
	float: center;
	display: block;
	margin: 0 auto;
}

main section#advantage figure figcaption{
	text-align:center;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	padding: 5px 44px;
}

main section#work{
	max-width: 1900px;
	margin-top: 115px;
}

main section#work ul{
	margin:0px;
	padding: 0px;
	list-style-image:none;
}

main section#work ul li{
	width: 25%;
	float: left;
	margin:0px;
	padding: 0px;
	list-style-type: none;
	margin-bottom: -5px;
	position: relative;
	overflow: hidden;
}

main section#work ul li img{
	width: 100%;
	height: 100%
}

main section#work ul li span{display: none;}

main section#work ul li:hover span {
	display:block;
	background: url("../img/bg-work.png");
	position: absolute;
	width: 100%;
	height: calc(100% - 4px);
	box-sizing: border-box;
	cursor: pointer;
	color:#ffffff;
	font-size:14px; 
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-top: calc(50% - 55px)
}

main section#work ul li:hover span b{
	text-transform: uppercase;
	display:block;
}

main section#reviews{
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 101px;
}

main section#reviews ul{
	margin:0px;
	padding: 0px; 
}

main section#reviews ul li{
	width: 25%;
	list-style-type: none;
	float: left;
	padding-right: 30px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;	
}
/*
main section#reviews ul li:last-child{
	padding-right: 0px
}
*/
main section#reviews ul li span{
	color: #000000;
	font-size: 22px;
	margin-top:25px;
	display: block;
	width: 100%;
}

main section#reviews ul li b{
	color:#e84545;
	font-weight:normal;
	font-size: 13px;	
	text-transform: uppercase;
}

main section#reviews ul li p{
	color:#6c7279;
	font-size: 14px; 
}

footer{
	background: #3a3e64;
	max-width: 1900px;
	margin:0 auto;
	margin-top:125px;
}

footer section#contact{
	max-width: 1170px;
	height: 250px;
	margin: 0 auto;
 }
 
footer section#contact figure{ 
	width:33%;
	float:left;
	margin:0;
	padding: 0;
	text-align: center;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-top:70px;
}

footer section#contact figure figcaption{
	color: #9d9fb2;
	font-weight: normal;
	text-transform: none;
	margin-top:15px;
	font-size: 14px;
	line-height:22px;
}

footer section#copyright{
	max-width: 1900px;
	height: 94px;
	background: #313454; 
}

footer section#copyright p{
	padding-top:23px;
	text-align: center;
	color: #75767a;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 22px;
    margin-top:0px;
}

footer section#copyright p span{
	color: #ffffff;
}